<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title><%= title %></title>
	<link rel="stylesheet" href="<%= base_dir %>/format.css">
	<script type="text/javascript" async
		src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML">
	</script>
	<script type="text/x-mathjax-config">
		MathJax.Hub.Config({
			extensions: ["tex2jax.js"],
			jax: ["input/TeX", "output/HTML-CSS"],
			tex2jax: {
				inlineMath: [ ['$','$'], ["\\(","\\)"] ],
				displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
				processEscapes: true,
				displaystyle: true,
			},
			"HTML-CSS": { availableFonts: ["TeX"] }
		});
	</script>
</head>
<body>
	<header>
		<!-- Image Banner -->
		<div class="banner-container">
			<img src="<%= base_dir %>/banners/Vancouver-horizon_cropped-wide-filtered.jpg" alt="BC Georgist Group" class="banner-image">
			<div class="banner-text">BC Georgist Group</div>
		</div>
		
		<!-- Navigation bar -->
		<div class="navbar" id="myNavbar">
			<a href="<%= base_dir %>/index.html" class="active">BC Georgist Group</a>
			<div class="dropdown">
				<button class="dropbtn">Proposals
					<i class="fa fa-caret-down"></i>
				</button>
				<div class="dropdown-content">
					<a href="<%= base_dir %>/articles-html/BC-Georgist-Reform-Plan.html">BC Georgist Reform Plan</a>
					<a href="<%= base_dir %>/articles-html/LVT-distribution-framework.html">LVT Distribution Framework</a>
				</div>
			</div>
			<div class="dropdown">
				<button class="dropbtn">Participate
					<i class="fa fa-caret-down"></i>
				</button>
				<div class="dropdown-content">
					<a href="https://www.meetup.com/vancouver-georgist-association/">Vancouver Meetup</a>
					<a href="https://github.com/LiamM32/BC-Georgist">Github page</a>
				</div>
			</div>
		</div>
	</header>
	<article>
		<%= article_content %>
	</article>
</body>
</html>
